---
import { Font } from "astro:assets";

import AboutSection from "../components/AboutSection.astro";
import CommunitySection from "../components/CommunitySection.astro";
import ContactSection from "../components/ContactSection.astro";
import FeatureSection from "../components/FeatureSection.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import { useTranslations } from "../lib.ts";

import "../tailwind.css";

const t = useTranslations(Astro.currentLocale);
---

<html lang={Astro.currentLocale} class="scroll-smooth">
  <head>
    <Font cssVariable="--font-satoshi" preload />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{t("title")}</title>
  </head>
  <body class="bg-gray-1/20 text-gray-5 text-base md:text-lg">
    <Navigation />
    <Header />
    <AboutSection />
    <FeatureSection />
    <CommunitySection />
    <ContactSection />
    <Footer />
  </body>
</html>
