---
import { Font } from "astro:assets";

import AboutSection from "../components/AboutSection.astro";
import FeatureSection from "../components/FeatureSection.astro";
import HeroSection from "../components/HeroSection.astro";
import Navigation from "../components/Navigation.astro";

import "../tailwind.css";
---

<html lang={Astro.currentLocale}>
  <head>
    <Font cssVariable="--font-satoshi" preload />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>alma</title>
  </head>
  <body class="bg-gray-1/20 text-gray-5">
    <Navigation />
    <HeroSection />
    <AboutSection />
    <FeatureSection />
  </body>
</html>
