---
import Box from "./Box.astro";
import DataIcon from "./icons/DataIcon.svg";
import WorkflowIcon from "./icons/WorkflowIcon.svg";
import OpenSourceIcon from "./icons/OpenSourceIcon.svg";
import { useTranslations } from "../lib.ts";

const t = useTranslations(Astro.currentLocale);
---

<section
  id="about"
  style="background: linear-gradient(146deg, rgba(0, 0, 0, 0.20) -67.9%, rgba(255, 255, 255, 0.15) 57.04%), linear-gradient(0deg, rgba(180, 180, 180, 0.20) 0%, rgba(180, 180, 180, 0.20) 100%), linear-gradient(90deg, rgba(0, 134, 201, 0.05) 0%, rgba(0, 109, 164, 0.05) 100%), #FFF;"
  class="rounded-t-3xl"
>
  <div
    class="container mx-auto flex flex-col items-center px-4 pt-10 pb-15 lg:px-8"
  >
    <video
      class="w-full max-w-3xl rounded-lg border border-slate-200 bg-white shadow-lg"
      autoplay
      loop
      muted
      playsinline
      src="/screencasts/about.mp4"
      poster="/screencasts/about.png"></video>
    <div class="mt-15 mb-6 max-w-2xl space-y-4 text-center md:mb-8">
      <h1>{t("about.heading")}</h1>
      <p class="md:text-xl" set:html={t("about.description")} />
    </div>
    <div class="flex flex-col space-y-6 md:flex-row md:space-y-0 md:space-x-6">
      <Box
        heading={t("about.data.heading")}
        description={t("about.data.description")}
      >
        <DataIcon slot="icon" />
      </Box>
      <Box
        heading={t("about.workflow.heading")}
        description={t("about.workflow.description")}
      >
        <WorkflowIcon slot="icon" />
      </Box>
      <Box
        heading={t("about.opensource.heading")}
        description={t("about.opensource.description")}
      >
        <OpenSourceIcon slot="icon" />
      </Box>
    </div>
  </div>
</section>
