---
interface Props {
  class?: string;
  href: string;
  outline?: boolean;
  target?: string;
}
---

<a
  href={Astro.props.href}
  target={Astro.props.target}
  class={`flex items-center gap-2 px-6 py-3 rounded-4xl justify-center font-medium transition-colors ${Astro.props.outline ? "border border-blue-4 text-blue-4 hover:bg-blue-4 hover:text-white" : "bg-blue-4 hover:bg-blue-5 text-white"} ${Astro.props.class ?? ""}`}
>
  <slot />
</a>
