---
import { Image } from "astro:assets";

import Box from "./Box.astro";
import AlmaLogo from "./graphics/AlmaLogo.svg";
import CommunityMap from "./graphics/CommunityMap.svg";
import DataIcon from "./icons/DataIcon.svg";
import LocationIcon from "./icons/LocationIcon.svg";
import PartnerIcon from "./icons/PartnerIcon.svg";
import PartnerImage from "../images/partner.png";
import { useTranslations } from "../lib.ts";

const partners = [
  "BAV", // Bundesamt für Verkehr
  "BAZL", // Bundesamt für Zivilluftfahrt
  "BE", // Bern
  "BL", // Basel-Landschaft
  "BS", // Basel-Stadt
  "FR", // Fribourg
  "LU", // Luzern
  "UR", // Uri
  "TG", // Thurgau
  "ZG", // Zug
  "SZ", // Schwyz
  "SO", // Solothurn
  "VS", // Wallis
  "GR", // Graubünden
  "VD", // Waadt (Vaud)
  "NE", // Neuchâtel
  "AG", // Aargau
  "FL", // Fürstentum Liechtenstein
] as const;

const t = useTranslations(Astro.currentLocale);
---

<section id="community" class="bg-white">
  <div
    class="container mx-auto flex flex-col items-center space-y-10 px-4 py-10 lg:px-8"
  >
    <div class="mt-15 mb-6 max-w-2xl space-y-4 text-center md:mb-8">
      <h1 class="text-center">{t("community.heading")}</h1>
      <p class="md:text-xl" set:html={t("community.description")} />
    </div>
    <div class="relative py-16 md:py-24">
      <CommunityMap class="w-full" />
      <Box
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-56 backdrop-blur-xs sm:-translate-y-60 md:-translate-y-64"
        heading={t("community.boxTop.heading")}
        description={t("community.boxTop.description")}
      >
        <DataIcon slot="icon" />
      </Box>
      <Box
        class="absolute top-1/2 left-1/2 -translate-x-42 -translate-y-1/4 backdrop-blur-xs sm:-translate-x-50 md:-translate-x-54"
        heading={t("community.boxLeft.heading")}
        description={t("community.boxLeft.description")}
      >
        <PartnerIcon slot="icon" />
      </Box>
      <Box
        class="absolute top-3/5 left-1/2 translate-x-8 backdrop-blur-xs sm:translate-x-16 md:translate-x-24"
        heading={t("community.boxRight.heading")}
        description={t("community.boxRight.description")}
      >
        <LocationIcon slot="icon" />
      </Box>
      <div
        class="border-blue-2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border bg-white/40 p-4 sm:p-6 md:p-8"
      >
        <div
          class="border-blue-2 rounded-full border bg-white/40 p-4 sm:p-6 md:p-8"
        >
          <AlmaLogo />
        </div>
      </div>
    </div>
    <div class="mt-15 mb-6 max-w-2xl space-y-4 text-center md:mb-8">
      <h1 class="text-center">{t("community.partnerHeading")}</h1>
      <p class="md:text-xl" set:html={t("community.partnerDescription")} />
    </div>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        partners.map((partner) => (
          <div class="flex items-center gap-3 text-sm">
            <Image
              width={30}
              src={PartnerImage}
              alt={t(`community.partner.${partner}`)}
            />
            {t(`community.partner.${partner}`)}
          </div>
        ))
      }
    </div>
  </div>
</section>
