---
import { Image } from "astro:assets";

import AlmaLogo from "./AlmaLogo.svg";
import Box from "./Box.astro";
import DataIcon from "./icons/DataIcon.svg";
import LocationIcon from "./icons/LocationIcon.svg";
import PartnerIcon from "./icons/PartnerIcon.svg";
import PartnerImage from "../images/partner.png";
import { useTranslations } from "../lib.ts";

const partners = [
  "BAV", // Bundesamt für Verkehr
  "BAZL", // Bundesamt für Zivilluftfahrt
  "BE", // Bern
  "BL", // Basel-Landschaft
  "BS", // Basel-Stadt
  "FR", // Fribourg
  "LU", // Luzern
  "UR", // Uri
  "TG", // Thurgau
  "ZG", // Zug
  "SZ", // Schwyz
  "SO", // Solothurn
  "VS", // Wallis
  "GR", // Graubünden
  "VD", // Waadt (Vaud)
  "NE", // Neuchâtel
  "AG", // Aargau
  "FL", // Fürstentum Liechtenstein
] as const;

const t = useTranslations(Astro.currentLocale);
---

<section id="community" class="bg-white">
  <div
    class="container mx-auto flex flex-col items-center space-y-10 px-4 py-10 lg:px-8"
  >
    <div class="mt-15 mb-6 max-w-2xl space-y-4 text-center md:mb-8">
      <h1 class="text-center">{t("community.heading")}</h1>
      <p class="md:text-xl" set:html={t("community.description")} />
    </div>
    <div class="relative py-16 md:py-24">
      <svg
        class="w-full"
        xmlns="http://www.w3.org/2000/svg"
        width="542"
        height="347"
        viewBox="0 0 542 347"
        fill="none"
      >
        <path
          opacity="0.1"
          d="M251.238 41.6151C251.238 41.6151 258.382 37.0608 260.079 37.0608C261.775 37.0608 263.829 32.2386 265.794 31.6135C267.759 31.0777 276.063 32.3279 281.064 36.6143C286.065 40.9007 287.047 40.7221 288.655 40.3649C290.262 39.9184 292.048 39.6505 293.923 39.8291C295.799 40.0077 302.318 40.3649 302.318 39.2933C302.318 38.1324 298.924 35.7213 300.174 35.1855C301.425 34.6497 304.282 32.953 306.068 31.6135C307.765 30.274 309.462 31.4349 310.355 33.7567C311.248 36.0785 312.051 39.204 313.212 38.2217C314.373 37.2394 316.516 34.9176 316.249 32.3279C315.981 29.7382 314.552 29.4703 316.249 29.4703C317.945 29.4703 320.892 27.0592 317.945 25.3625C314.909 23.6658 305.265 29.381 301.425 27.7736C297.585 26.1662 290.887 22.2369 293.566 18.2184C296.245 14.1999 299.549 11.0744 300.174 9.64562C300.71 8.21682 299.639 6.96662 301.335 6.34152C303.032 5.80572 310.444 4.73411 311.158 2.94811C311.873 1.07281 309.551 0.358406 311.873 0.0905059C314.195 -0.177395 318.302 0.0905088 318.481 1.69791C318.66 3.30531 317.856 6.16291 319.374 6.52012C320.803 6.96662 320.981 1.7872 323.214 1.7872C325.536 1.7872 324.911 5.80571 326.339 6.07361C327.768 6.34152 331.34 5.18061 331.34 6.52012C331.34 7.77032 327.59 16.5217 329.733 17.504C331.876 18.4863 336.43 22.9514 338.038 20.8974C339.645 18.8435 337.591 16.5217 336.341 15.5394C335.091 14.5571 335.359 13.1283 337.591 13.2176C339.913 13.3962 343.039 16.5217 344.021 16.3431C345.003 16.1645 346.7 15.6287 347.414 16.7896C348.129 17.9505 345.985 20.8974 347.414 22.3262C348.843 23.755 350.45 28.9345 360.809 25.8982C371.257 22.862 373.669 23.3085 375.812 23.0406C377.955 22.7727 382.063 22.3262 383.224 23.4871C384.385 24.6481 384.831 29.4703 391.886 31.7921C395.994 33.1316 395.726 29.6489 398.762 34.8283C398.762 34.8283 399.298 37.6859 400.459 37.5073C401.619 37.3287 402.602 36.3464 403.763 37.2394C404.924 38.1324 408.049 44.1155 409.746 45.5443C411.442 46.9731 417.158 50.0986 418.586 51.7953C420.015 53.492 422.158 53.7599 423.766 53.492C425.373 53.2241 426.802 52.8669 428.231 53.5813C429.66 54.385 434.214 57.8677 434.928 57.8677C435.643 57.8677 438.947 57.4212 438.947 59.8323C438.947 62.2434 437.518 63.5829 438.947 65.3689C440.376 67.2442 441.805 69.1195 441.269 71.6199C440.733 74.2096 435.732 74.7454 434.303 75.7277C432.875 76.71 424.927 85.8187 422.337 91.4446C419.747 96.9812 420.462 97.4277 420.462 98.1421C420.462 98.8565 419.479 103.857 418.586 107.161C417.693 110.466 417.872 112.609 420.015 114.841C422.158 117.163 422.426 118.413 421.176 121.092C419.926 123.771 418.854 126.54 421.176 127.254C423.498 127.968 425.909 125.647 427.606 126.54C429.302 127.433 430.91 129.665 431.624 129.576C432.339 129.397 432.607 127.879 433.5 127.879C434.393 127.879 446.359 128.058 447.788 128.772C449.216 129.486 458.772 133.594 460.2 133.505C461.629 133.326 469.755 137.97 470.023 141.095C470.291 144.221 467.166 141.81 466.451 145.114C465.737 148.418 466.273 148.15 468.416 149.847C470.559 151.544 473.417 154.848 475.024 154.58C476.632 154.312 478.15 152.437 480.739 153.865C483.329 155.294 490.116 161.724 492.17 162.974C494.134 164.224 500.207 166.993 502.975 163.688C505.833 160.384 509.851 157.795 510.387 155.294C510.923 152.704 510.387 149.847 511.548 149.758C512.709 149.579 517.442 150.74 519.228 148.597C521.103 146.453 524.497 136.005 527.979 137.077C531.373 138.059 536.552 145.203 537.981 145.203C539.41 145.203 538.159 154.937 537.981 156.723C537.802 158.598 538.159 162.528 536.82 165.296C535.57 167.975 534.498 168.6 534.498 170.297C534.498 171.993 536.106 176.905 534.677 178.423C533.248 180.03 532.266 180.03 532.266 181.816C532.266 183.692 533.962 185.567 533.159 187.085C532.266 188.692 529.051 189.05 529.587 191.55C530.122 193.961 530.837 198.694 533.694 198.962C536.552 199.23 541.731 197.355 541.731 205.66C541.731 213.964 540.481 216.108 535.838 215.036C531.283 214.054 530.39 212.446 528.515 213.071C526.64 213.607 526.64 214.947 524.675 214.5C522.711 214.054 521.55 209.946 518.96 209.767C516.37 209.589 514.495 210.214 514.406 207.892C514.227 205.57 513.691 200.569 511.816 200.301C509.941 200.034 509.851 202.98 507.797 201.73C505.833 200.48 498.242 202.177 497.796 205.124C497.349 208.16 494.938 209.857 493.509 212C492.081 214.143 490.652 214.143 490.652 216.465C490.652 218.787 491.545 221.734 489.937 223.073C488.33 224.323 489.759 232.45 491.813 234.325C493.777 236.2 493.241 238.343 494.492 237.718C495.742 237.182 498.957 236.468 500.385 237.808C501.814 239.147 505.922 241.29 504.136 242.54C502.261 243.791 498.599 245.219 498.867 247.095C499.135 248.97 500.564 250.22 498.599 250.935C496.635 251.649 496.903 256.114 498.064 257.543C499.225 258.972 505.743 259.865 505.743 263.794C505.743 263.794 506.011 268.616 503.154 269.956C500.296 271.206 493.777 274.689 493.063 271.652C492.348 268.616 493.956 266.919 492.081 265.937C490.205 264.955 482.793 260.222 482.793 257.275C482.793 254.239 485.383 253.703 483.686 250.845C481.99 247.988 477.971 245.845 474.846 247.095C471.72 248.345 463.326 249.238 460.022 251.113C456.718 252.989 455.467 251.649 454.128 250.667C452.878 249.684 450.288 250.935 451.092 254.953C451.985 258.972 454.396 260.847 450.645 259.775C446.895 258.793 439.126 259.507 434.928 258.882C430.821 258.347 430.106 255.31 427.606 251.56C425.195 247.809 424.57 248.434 422.159 245.845C419.747 243.255 419.479 241.38 419.569 237.54C419.747 233.7 422.426 223.966 418.14 224.145C413.854 224.323 413.318 232.45 410.549 230.842C407.781 229.235 411.264 221.466 408.228 222.805C405.191 224.234 402.959 224.948 400.816 224.77C398.673 224.591 396.797 226.02 397.78 227.895C398.762 229.771 400.191 230.753 398.94 231.735C397.69 232.717 392.957 233.164 394.118 236.2C395.279 239.236 402.245 251.203 398.673 260.311C395.101 269.42 397.78 267.009 394.833 270.759C391.796 274.51 391.082 274.153 390.278 277.368C389.385 280.493 384.385 284.512 382.331 285.762C380.187 287.012 375.455 290.763 375.722 294.067C375.99 297.371 377.687 301.657 373.847 302.818C370.007 303.979 364.56 304.961 365.542 307.283C366.525 309.605 370.275 312.552 369.829 314.159C369.382 315.767 366.257 316.124 366.435 317.999C366.614 319.874 365.721 324.697 371.436 326.751C377.151 328.715 379.294 330.501 375.99 333.002C372.686 335.591 370.811 335.413 371.257 337.556C371.704 339.699 372.865 346.397 370.364 346.397C367.953 346.397 365.899 340.949 364.381 341.217C362.774 341.485 358.845 344.075 357.952 341.932C357.059 339.788 359.38 337.913 358.666 333.805C357.952 329.697 355.63 327.643 354.558 324.965C353.397 322.285 351.433 323.357 348.843 320.41C346.789 317.999 341.699 316.035 341.52 314.963C340.27 307.372 349.915 304.872 349.915 302.014C349.915 302.014 348.932 295.763 346.611 295.763C344.289 295.763 342.771 296.746 339.913 295.495C337.055 294.245 337.323 294.067 335.18 294.781C333.037 295.495 327.858 298.174 321.16 291.923C314.462 285.672 315.623 283.083 312.051 279.511C308.479 275.939 307.051 275.492 303.389 274.51C299.639 273.528 297.942 271.92 298.567 268.527C299.103 265.133 300.264 254.685 301.603 251.381C302.853 248.077 303.479 237.093 299.728 235.575C295.977 233.968 292.048 236.111 290.173 236.468C288.298 236.736 282.493 236.022 281.779 238.343C281.064 240.665 283.654 244.773 281.957 246.47C280.261 248.166 277.224 250.042 273.652 252.453C270.08 254.864 271.956 258.615 269.366 260.49C266.776 262.365 260.257 260.311 257.846 264.24C255.435 268.08 255.257 270.849 258.561 272.635C261.865 274.51 267.133 281.029 262.579 288.084C258.025 295.049 250.345 295.406 250.166 298.085C249.988 300.764 251.059 311.748 246.326 313.534C241.594 315.231 233.199 313.534 231.056 317.999C228.913 322.464 232.753 326.304 229.359 327.108C225.966 328.001 218.376 328.804 217.929 326.572C217.483 324.25 219.09 323.714 215.518 324.875C211.946 326.036 210.696 328.269 209.356 324.875C208.106 321.482 204.891 317.731 201.23 318.178C197.479 318.624 195.247 316.927 192.657 315.856C190.067 314.874 189.353 318.714 187.924 319.428C186.495 320.142 181.941 318.535 179.351 323.178C176.762 327.733 171.046 331.483 166.939 329.43C162.831 327.465 160.956 327.108 159.259 328.001C157.562 328.894 148.811 336.306 143.274 335.323C137.738 334.341 133.273 332.734 127.111 321.303C120.949 309.873 121.574 307.015 118.27 305.586C114.966 304.158 114.698 302.729 112.376 303.622C110.054 304.515 106.929 301.032 107.822 298.174C108.715 295.317 113.091 296.031 110.68 293.174C108.268 290.316 100.231 290.852 99.6956 286.565C99.1598 282.279 99.517 276.028 102.375 271.295C105.232 266.562 106.393 265.401 104.071 261.919C101.75 258.347 95.945 252.363 97.6417 248.613C99.3384 244.862 103.536 244.773 101.75 241.647C100.053 238.522 92.1944 230.217 73.5307 231.199C54.867 232.182 60.4036 239.951 56.2958 240.576C52.188 241.29 44.8654 241.558 41.5612 244.148C38.2571 246.738 32.0061 254.149 33.8814 255.4C35.7567 256.65 36.739 258.793 35.1316 259.865C33.5242 260.847 32.7205 263.437 34.8637 263.973C37.0069 264.508 41.1147 263.258 39.8645 266.294C38.6143 269.331 33.9707 272.545 31.2917 275.046C28.6127 277.457 27.7197 282.904 21.2008 283.886C12.1815 285.226 2.53708 284.779 3.25148 281.743C4.50168 276.207 4.94818 277.993 1.55478 275.849C-1.83863 273.706 1.01897 270.581 3.51938 269.866C6.10908 269.152 17.3609 270.045 18.9683 267.455C20.5757 264.866 15.3963 264.062 17.2716 260.49C19.1469 256.918 27.0053 249.238 21.7366 244.684C16.4679 240.129 12.4494 237.093 14.5926 228.967C14.5926 228.967 16.4679 222.984 19.8613 219.948C23.2547 216.911 25.3979 218.251 25.3979 215.215C25.3979 212.178 20.665 210.035 22.0045 208.785C23.2547 207.535 32.274 203.338 33.4349 200.748C34.5958 198.158 40.7575 192.711 44.2403 191.014C47.8123 189.318 56.2065 181.727 58.0818 180.566C59.9571 179.405 64.3328 175.744 59.0641 172.172C57.2781 170.922 62.6361 167.707 62.904 164.135C62.904 164.135 63.797 160.831 61.4752 154.312C59.1534 147.704 61.9217 145.293 64.3328 145.025C66.7439 144.757 74.0665 144.132 75.1381 142.435C76.299 140.738 77.2813 141.542 79.9603 139.845C82.6393 138.149 86.9257 137.256 88.801 133.594C90.6763 129.844 91.2121 125.468 93.9804 123.503C96.6594 121.539 101.303 117.074 104.25 115.824C107.286 114.573 108.268 109.84 110.68 105.822C113.091 101.803 119.52 99.2137 120.235 95.1059C120.949 90.9981 119.788 88.4084 120.949 87.7833C122.11 87.2475 125.057 87.9619 127.647 86.6224C130.236 85.3722 134.612 82.6039 135.505 80.4607C136.398 78.3175 135.684 73.0487 131.219 73.5845C126.754 74.1203 114.787 75.9063 114.341 74.8347C113.894 73.8524 116.216 72.245 118.181 69.566C120.145 66.887 119.342 67.1549 121.306 65.0117C123.271 62.8685 125.861 64.0294 127.468 60.9932C129.075 57.957 124.789 51.8846 127.647 50.9916C130.504 50.0986 133.898 52.599 135.773 53.1348C137.648 53.6706 139.077 50.0093 141.667 50.7237C144.256 51.4381 145.775 54.1171 147.203 54.1171C148.632 54.1171 152.472 52.5097 153.097 54.6529C153.633 56.7961 149.793 59.4751 149.972 61.0825C150.15 62.6899 153.722 61.529 154.437 62.6899C155.151 63.8508 154.972 68.1372 156.133 68.1372C157.294 68.1372 160.956 63.1364 168.01 64.0294C174.976 64.9224 180.602 62.1541 180.155 59.4751C179.709 56.7961 179.619 55.1887 180.334 54.6529C181.048 54.1171 183.459 56.7961 185.156 55.6352C186.853 54.4743 184.888 51.5274 187.031 50.3665C189.174 49.2056 190.067 50.0986 191.318 49.4735C192.568 48.9377 184.888 45.455 189.442 44.0262C193.997 42.5974 203.552 33.7567 205.248 35.4534C206.945 37.1501 206.499 41.7044 203.998 42.0616C201.409 42.3295 200.158 44.0262 202.302 45.1871C204.445 46.348 214.714 47.7768 217.393 45.455C220.072 43.1332 225.341 37.5966 229.538 38.7575C233.646 39.9184 234.092 43.2225 237.396 44.0262C240.433 44.8299 249.809 42.5081 251.238 41.6151Z"
          fill="#949494"></path>
      </svg>
      <Box
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-56 backdrop-blur-xs sm:-translate-y-60 md:-translate-y-64"
        heading={t("community.boxTop.heading")}
        description={t("community.boxTop.description")}
      >
        <DataIcon slot="icon" />
      </Box>
      <Box
        class="absolute top-1/2 left-1/2 -translate-x-42 -translate-y-1/4 backdrop-blur-xs sm:-translate-x-50 md:-translate-x-54"
        heading={t("community.boxLeft.heading")}
        description={t("community.boxLeft.description")}
      >
        <PartnerIcon slot="icon" />
      </Box>
      <Box
        class="absolute top-3/5 left-1/2 translate-x-8 backdrop-blur-xs sm:translate-x-16 md:translate-x-24"
        heading={t("community.boxRight.heading")}
        description={t("community.boxRight.description")}
      >
        <LocationIcon slot="icon" />
      </Box>
      <div
        class="border-blue-2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border bg-white/40 p-4 sm:p-6 md:p-8"
      >
        <div
          class="border-blue-2 rounded-full border bg-white/40 p-4 sm:p-6 md:p-8"
        >
          <AlmaLogo />
        </div>
      </div>
    </div>
    <div class="mt-15 mb-6 max-w-2xl space-y-4 text-center md:mb-8">
      <h1 class="text-center">{t("community.partnerHeading")}</h1>
      <p class="md:text-xl" set:html={t("community.partnerDescription")} />
    </div>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        partners.map((partner) => (
          <div class="flex items-center gap-3 text-sm">
            <Image
              width={30}
              src={PartnerImage}
              alt={t(`community.partner.${partner}`)}
            />
            {t(`community.partner.${partner}`)}
          </div>
        ))
      }
    </div>
  </div>
</section>
