---
import Box from "./Box.astro";
import Button from "./Button.astro";
import AlmaLogo from "./graphics/AlmaLogo.svg";
import CommunityMap from "./graphics/CommunityMap.svg";
import DataIcon from "./icons/DataIcon.svg";
import DownloadIcon from "./icons/DownloadIcon.svg";
import LocationIcon from "./icons/LocationIcon.svg";
import PartnerIcon from "./icons/PartnerIcon.svg";
import PartnerCH from "./partners/ch.svg";
import PartnerBE from "./partners/be.svg";
import PartnerBS from "./partners/bs.svg";
import PartnerBL from "./partners/bl.svg";
import PartnerFR from "./partners/fr.svg";
import PartnerLU from "./partners/lu.svg";
import PartnerUR from "./partners/ur.svg";
import PartnerTG from "./partners/tg.svg";
import PartnerZG from "./partners/zg.svg";
import PartnerSZ from "./partners/sz.svg";
import PartnerSO from "./partners/so.svg";
import PartnerVS from "./partners/vs.svg";
import PartnerGR from "./partners/gr.svg";
import PartnerVD from "./partners/vd.svg";
import PartnerNE from "./partners/ne.svg";
import PartnerAG from "./partners/ag.svg";
import PartnerFL from "./partners/fl.svg";
import { useTranslations } from "../lib.ts";

const partners = [
  ["BAV", PartnerCH], // Bundesamt für Verkehr
  ["BAZL", PartnerCH], // Bundesamt für Zivilluftfahrt
  ["BE", PartnerBE], // Bern
  ["BL", PartnerBL], // Basel-Landschaft
  ["BS", PartnerBS], // Basel-Stadt
  ["FR", PartnerFR], // Fribourg
  ["LU", PartnerLU], // Luzern
  ["UR", PartnerUR], // Uri
  ["TG", PartnerTG], // Thurgau
  ["ZG", PartnerZG], // Zug
  ["SZ", PartnerSZ], // Schwyz
  ["SO", PartnerSO], // Solothurn
  ["VS", PartnerVS], // Wallis
  ["GR", PartnerGR], // Graubünden
  ["VD", PartnerVD], // Waadt (Vaud)
  ["NE", PartnerNE], // Neuchâtel
  ["AG", PartnerAG], // Aargau
  ["FL", PartnerFL], // Fürstentum Liechtenstein
] as const;

const t = useTranslations(Astro.currentLocale);
---

<section id="community" class="bg-white">
  <div
    class="container mx-auto flex flex-col items-center space-y-10 px-4 py-10 lg:px-8"
  >
    <div class="mt-15 mb-6 max-w-2xl space-y-4 text-center md:mb-8">
      <h1 class="text-center">{t("community.heading")}</h1>
      <p class="md:text-xl" set:html={t("community.description")} />
    </div>
    <div class="relative py-16 md:py-24">
      <CommunityMap class="w-full" />
      <Box
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-56 backdrop-blur-xs sm:-translate-y-60 md:-translate-y-64"
        heading={t("community.boxTop.heading")}
        description={t("community.boxTop.description")}
      >
        <DataIcon slot="icon" />
      </Box>
      <Box
        class="absolute top-1/2 left-1/2 -translate-x-42 -translate-y-1/4 backdrop-blur-xs sm:-translate-x-50 md:-translate-x-54"
        heading={t("community.boxLeft.heading")}
        description={t("community.boxLeft.description")}
      >
        <PartnerIcon slot="icon" />
      </Box>
      <Box
        class="absolute top-3/5 left-1/2 translate-x-6 backdrop-blur-xs sm:translate-x-16 md:translate-x-24"
        heading={t("community.boxRight.heading")}
        description={t("community.boxRight.description")}
      >
        <LocationIcon slot="icon" />
      </Box>
      <div
        class="border-blue-2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border bg-white/40 p-4 sm:p-6 md:p-8"
      >
        <div
          class="border-blue-2 rounded-full border bg-white/40 p-4 sm:p-6 md:p-8"
        >
          <AlmaLogo />
        </div>
      </div>
    </div>
    <Button
      outline
      href={`alma-flyer-${Astro.currentLocale}.pdf`}
      target="flyer"
    >
      <DownloadIcon />{t("community.downloadFlyer")}
    </Button>
    <div class="mt-15 mb-6 max-w-2xl space-y-4 text-center md:mb-8">
      <h1 class="text-center">{t("community.partnerHeading")}</h1>
      <p class="md:text-xl" set:html={t("community.partnerDescription")} />
    </div>
    <div
      class="grid grid-cols-2 gap-x-3 gap-y-2 text-xs md:grid-cols-3 md:gap-x-4 md:text-base"
    >
      {
        partners.map(([key, PartnerImage]) => (
          <div class="border-blue-1 flex items-center gap-1 rounded-lg border p-1 md:gap-2 md:px-4 md:py-2">
            <PartnerImage class="m-1 h-5 w-4 shrink-0 md:ml-0 md:h-8 md:w-8" />
            {t(`community.partner.${key}`)}
          </div>
        ))
      }
    </div>
  </div>
</section>
