---
import AlmaLogo from "./AlmaLogo.svg";
import AlmaName from "./AlmaName.svg";
import { useTranslations } from "../lib.ts";

const t = useTranslations(Astro.currentLocale);
---

<footer>
  <div class="flex flex-col items-center space-y-8 px-8 py-16 text-center">
    <div
      class="border-gray-1 relative mx-auto mt-8 flex w-fit items-center gap-2 rounded-lg border p-2"
    >
      <div class="absolute -top-8 -right-16 rotate-12 rounded-md bg-black px-4">
        <svg
          class="w-24"
          xmlns="http://www.w3.org/2000/svg"
          width="192"
          height="48"
          viewBox="0 0 192 48"
          fill="white"
        >
          <path
            d="M91.3999 21.7922C92.1553 21.7948 92.8791 22.096 93.4132 22.6301C93.9474 23.1643 94.2486 23.888 94.2511 24.6434C94.2461 25.3972 93.9438 26.1185 93.4099 26.6506C92.876 27.1826 92.1537 27.4825 91.3999 27.485C90.6478 27.48 89.928 27.179 89.3962 26.6472C88.8644 26.1154 88.5634 25.3955 88.5583 24.6434C88.5608 23.8897 88.8607 23.1674 89.3928 22.6335C89.9249 22.0996 90.6462 21.7973 91.3999 21.7922Z"
          ></path>
          <path
            d="M96.258 33.0622C105.167 33.331 112.472 23.8366 109.909 15.3022C107.903 7.56459 98.7444 2.57259 91.17 5.75019C83.6148 8.50539 79.6788 18.2974 83.682 25.3918C84.8803 27.6949 86.6852 29.6267 88.9017 30.9785C91.1181 32.3304 93.6618 33.0509 96.258 33.0622ZM95.73 37.8046C84.9588 37.8526 75.8388 27.1966 77.49 16.5598C78.5844 6.23019 89.3172 -1.74741 99.57 0.335794C109.602 1.99659 117.09 12.6814 114.757 22.7134C113.068 31.4014 104.658 38.2558 95.73 37.8046Z"
          ></path>
          <path
            d="M26.8817 7.20027H13.5185C7.75854 7.20027 3.08334 11.1651 3.08334 16.0515V26.8995C3.08334 31.7763 7.76814 35.7411 13.5185 35.7411H33.2369V39.1491C33.2369 41.7891 30.3761 43.9395 26.8625 43.9395H5.49294V43.9587L5.31054 43.9395C4.20654 43.9395 3.29454 44.8515 3.29454 45.9651C3.29454 47.0787 4.20654 47.9811 5.31054 47.9811L5.49294 47.9715V48.0003H26.8721C32.6321 48.0003 37.3073 44.0259 37.3073 39.1491V16.0515C37.3073 11.1555 32.6225 7.19067 26.8721 7.19067L26.8817 7.20027ZM33.2369 31.6803H13.5281C10.0145 31.6803 7.15374 29.5395 7.15374 26.8899V16.0419C7.15374 13.4019 10.0145 11.2515 13.5281 11.2515H26.8721C30.3857 11.2515 33.2369 13.4019 33.2369 16.0515V31.6803Z"
          ></path>
          <path
            d="M74.6227 23.5203V16.0515C74.6227 11.1651 69.9475 7.19067 64.1875 7.19067H50.8435C45.0835 7.19067 40.4083 11.1651 40.4083 16.0515V26.8995C40.4083 31.7763 45.0835 35.7411 50.8435 35.7411H72.6163C73.7299 35.7411 74.6515 34.8291 74.6515 33.7155C74.6515 32.6019 73.7299 31.6803 72.6163 31.6803H50.8435C47.3299 31.6803 44.4691 29.5299 44.4691 26.8899V23.5011L74.6131 23.5299L74.6227 23.5203ZM50.8435 11.2611H64.1875C67.7011 11.2611 70.5619 13.4115 70.5619 16.0611V19.4595H44.4691V16.0611C44.4691 13.4115 47.3299 11.2611 50.8435 11.2611Z"
          ></path>
          <path
            d="M141.542 7.20027H128.198C122.438 7.20027 117.762 11.1651 117.762 16.0515V45.6195C117.762 46.7427 118.684 47.6643 119.798 47.6643C120.911 47.6643 121.823 46.7427 121.823 45.6291V35.7411H141.542C147.302 35.7411 151.977 31.7763 151.977 26.8899V16.0419C151.977 11.1651 147.292 7.19067 141.542 7.19067V7.20027ZM121.823 16.0515C121.823 13.4019 124.684 11.2515 128.198 11.2515H141.542C145.055 11.2515 147.916 13.4019 147.916 16.0515V26.8995C147.916 29.5395 145.055 31.6803 141.542 31.6803H121.823V16.0515Z"
          ></path>
          <path
            d="M181.151 19.3631L181.007 19.3439H162.728C161.655 19.3389 160.628 18.9104 159.869 18.1518C159.111 17.3931 158.682 16.3656 158.677 15.2927C158.677 13.0847 160.472 11.2703 162.671 11.2415H186.805C187.919 11.2415 188.831 10.3199 188.831 9.20634C188.828 8.93535 188.772 8.66755 188.665 8.41851C188.558 8.16947 188.403 7.94416 188.208 7.75569C188.013 7.56721 187.783 7.41932 187.531 7.32062C187.278 7.22191 187.009 7.17437 186.738 7.18074H162.699C160.552 7.19334 158.496 8.05204 156.977 9.57061C155.459 11.0892 154.6 13.1452 154.587 15.2927C154.6 17.4353 155.455 19.4871 156.967 21.0048C158.479 22.5226 160.528 23.3846 162.671 23.4047H180.853C183.061 23.4911 184.828 25.3247 184.828 27.5327C184.828 29.7887 182.965 31.6607 180.699 31.6607H180.651L156.651 31.6511H156.623C155.509 31.6511 154.597 32.5631 154.597 33.6767C154.597 34.7903 155.509 35.7119 156.623 35.7119H180.325L180.402 35.7023H180.507L180.719 35.7119H180.728C182.894 35.7018 184.969 34.8369 186.501 33.3051C188.032 31.7734 188.897 29.6989 188.908 27.5327C188.899 25.4391 188.091 23.4279 186.649 21.9096C185.208 20.3913 183.241 19.4805 181.151 19.3631Z"
          ></path>
        </svg>
      </div>
      <AlmaLogo />
      <AlmaName />
    </div>
    <h1>{t("footer.title")}</h1>
    <p set:html={t("footer.description")} />
  </div>
  <div
    class="border-gray-3 text-gray-4 container mx-auto space-y-4 border-t p-4 text-center text-sm"
  >
    <div class="flex items-center gap-2">
      <AlmaLogo />
      <AlmaName />
    </div>
    <p>{t("footer")}</p>
  </div>
</footer>
