---
import { Image } from "astro:assets";

import Button from "./Button.astro";
import AlmaLogo from "./graphics/AlmaLogo.svg";
import AlmaName from "./graphics/AlmaName.svg";
import Background from "./graphics/Background.svg";
import LinkIcon from "./icons/LinkIcon.svg";
import HeaderImage from "./images/header.png";
import { useTranslations } from "../lib.ts";

const t = useTranslations(Astro.currentLocale);
---

<header>
  <Background class="absolute top-0 -left-96 -z-10 md:left-0" />
  <div
    class="container mx-auto grid grid-cols-1 items-center gap-4 px-4 md:grid-cols-2 md:gap-8 md:pb-12 lg:px-8 xl:pb-16"
  >
    <div class="max-w-sm space-y-5 pt-32 md:max-w-md md:pt-40 xl:pt-48">
      <div class="flex items-center gap-1">
        <AlmaLogo class="h-7" />
        <AlmaName class="h-7" />
      </div>
      <h1>{t("header.heading")}</h1>
      <p class="md:text-xl" set:html={t("header.description")} />
      <div
        class="bg-gray-2 border-blue-3 flex w-fit flex-col space-y-2.5 rounded-4xl border p-4"
      >
        <Button class="w-50" href="https://demo.alma-os.ch/" target="demo">
          <LinkIcon />
          {t("header.demoLink")}
        </Button>
        <p class="text-xs" set:html={t("header.demoCredentials")} />
      </div>
    </div>
    <Image class="w-full" src={HeaderImage} alt={t("header.heading")} />
  </div>
</header>
