---
import AlmaLogo from "./AlmaLogo.svg";
import AlmaName from "./AlmaName.svg";
import Button from "./Button.astro";
import HeroGraphic from "./HeroGraphic.svg";
import LinkIcon from "./icons/LinkIcon.svg";
import { useTranslations } from "../lib.ts";

const t = useTranslations(Astro.currentLocale);
---

<section>
  <div
    class="container mx-auto grid grid-cols-1 items-center md:grid-cols-2 md:pb-10"
  >
    <div class="space-y-5 px-4 pt-32">
      <div
        class="border-gray-1 flex w-fit items-center gap-2 rounded-lg border p-2.5"
      >
        <AlmaLogo />
        <AlmaName />
      </div>
      <h1>{t("hero.heading")}</h1>
      <p set:html={t("hero.description")} />
      <div
        class="bg-gray-2 border-blue-3 flex w-fit flex-col space-y-2.5 rounded-4xl border p-4"
      >
        <Button class="w-50" href="https://demo.alma-os.ch/" target="demo">
          <LinkIcon />
          {t("hero.demoLink")}
        </Button>
        <Fragment set:html={t("hero.demoCredentials")} />
      </div>
    </div>
    <HeroGraphic class="w-full" />
  </div>
</section>
