---
import { Font } from "astro:assets";

import { useTranslations } from "../lib.ts";

import "../tailwind.css";

const t = useTranslations(Astro.currentLocale);
---

<html lang={Astro.currentLocale} class="scroll-smooth">
  <head>
    <Font cssVariable="--font-satoshi" preload />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{t("title")}</title>
  </head>
  <body class="bg-gray-1/20 text-gray-5 text-base md:text-lg">
    <slot />
  </body>
</html>

<script>
  import { init } from "@plausible-analytics/tracker";

  init({
    domain: "alma-os.ch",
    endpoint: "/p7e/api/event",
  });
</script>
