@import "tailwindcss";

@theme {
  --color-blue-1: #e5f3fa;
  --color-blue-2: #c7ecff;
  --color-blue-3: #c4e0ed;
  --color-blue-4: #0086c9;
  --color-blue-5: #006da4;
  --color-gray-1: #d9d9d9;
  --color-gray-2: #e9eef2;
  --color-gray-3: #e1e1e1;
  --color-gray-4: #6a7282;
  --color-gray-5: #343434;
  --color-white: #ffffff;

  --font-sans: var(--font-satoshi);
}

@layer base {
  h1 {
    @apply text-3xl leading-10 font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  ul {
    @apply list-disc space-y-2 pl-5;
  }
}
