@import "tailwindcss";

@theme {
  --color-blue-1: #E5F3FA;
  --color-blue-2: #C7ECFF;
  --color-blue-3: #C4E0ED;
  --color-blue-4: #0086C9;
  --color-blue-5: #006DA4;
  --color-gray-1: #D9D9D9;
  --color-gray-2: #E9EEF2;
  --color-gray-3: #E1E1E1;
  --color-gray-5: #343434;
  --color-white: #FFFFFF;

  --font-sans: var(--font-satoshi);
}

@layer base {
  h1 {
    @apply leading-10 font-bold text-3xl;
  }

  h2 {
    @apply font-bold text-xl;
  }

  ul {
    @apply list-disc pl-5 space-y-2;
  }
}